<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glassproject.ubicomp.com.todo" >

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GlassTheme" >
        <activity
            android:name=".activity.NewTaskActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/new_task_voice_trigger" />
        </activity>
        <activity
            android:name=".activity.TaskListActivity"
            android:enabled="true"
            android:label="@string/show_tasks_voice_trigger" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/show_tasks_voice_trigger" />
        </activity>
        <activity
            android:name=".activity.SingleTaskActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name=".activity.MoreInfoActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name=".activity.ToDoTaskListActivity"
            android:enabled="true"
            android:label="@string/quick_task" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/todo_task_voice_trigger" />
        </activity>

        <service
            android:name=".activity.ToDoLiveCardService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/to_do_service"
            >
        </service>
    </application>

</manifest>
